In [1]:
lista = [1,2,3,4,5,6]
lista

[1, 2, 3, 4, 5, 6]

In [1]:
indice = 0
numeros = [1,2,3,4,5,6,7,8]
for numero in numeros:
    numeros[indice] *= 10
    indice+=1
numeros

[10, 20, 30, 40, 50, 60, 70, 80]

In [2]:
numeros = [1,2,3,4,5,6,7,8,9,10]
for indice, numero in enumerate(numeros):
    numeros[indice] *= 10
numeros

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [3]:
cadena = "Hola amigos"
for caracter in cadena:
    print(caracter)

H
o
l
a

a
m
i
g
o
s

In [5]:
cadena2 = ""
for caracter in cadena:
    cadena2 += "*"
cadena2

'***********'

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
range(10)

range(0, 10)

In [10]:
numeros = [5,1,-4,8,9,12,0,3,-1,8]

for indice, numero in enumerate(numeros):
    print(indice, numero)

0 5
1 1
2 -4
3 8
4 9
5 12
6 0
7 3
8 -1
9 8

In [18]:
numero = 7
sumatorio = 0

# Completa el ejercicio aquí

# Generamos el bucle entre 0 y el numero+1 (para no excluirlo del range)
for n in range(numero+1):
    # Si no es múltiple de 5 y 7 lo sumamos
    if n % 5 != 0 and n % 7 != 0:
        sumatorio += n

sumatorio

16

In [21]:
elementos = ["Hola", 4, "Adiós", [1,2,3]]

for i, e in enumerate(elementos):
    print(i,e)

0 Hola
1 4
2 Adiós
3 [1, 2, 3]

In [22]:
a,b,c = 10,50,100
print(a,b,c)

10 50 100

In [29]:
multiplos = []

# Completa el ejercicio 
numero = int(input("Introduce un número del 1 al 9"))
# Volveremos a leerlo mientras el número no se encuentre entre 1 y 9 (ambos incluidos)
while numero < 1 or numero > 9:
    numero = int(input())
 
# Generamos con range toda la lista de múltiplos entre el numero y 100
multiplos = list(range(numero, 101, numero))
print(multiplos)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [30]:
lista = [
    "Esto es un texto",
    (1, 5, 6, 7, 23),
    ["Azul", "Verde", "Rojo"]
]

for coleccion in lista:
    print(coleccion)

Esto es un texto
(1, 5, 6, 7, 23)
['Azul', 'Verde', 'Rojo']

In [32]:
lista = [
    "Esto es un texto",
    (1, 5, 6, 7, 23),
    ["Azul", "Verde", "Rojo"]
]

for coleccion in lista:
    for elemento in coleccion:
        print(coleccion, "-->", elemento)

Esto es un texto --> E
Esto es un texto --> s
Esto es un texto --> t
Esto es un texto --> o
Esto es un texto -->
Esto es un texto --> e
Esto es un texto --> s
Esto es un texto -->
Esto es un texto --> u
Esto es un texto --> n
Esto es un texto -->
Esto es un texto --> t
Esto es un texto --> e
Esto es un texto --> x
Esto es un texto --> t
Esto es un texto --> o
(1, 5, 6, 7, 23) --> 1
(1, 5, 6, 7, 23) --> 5
(1, 5, 6, 7, 23) --> 6
(1, 5, 6, 7, 23) --> 7
(1, 5, 6, 7, 23) --> 23
['Azul', 'Verde', 'Rojo'] --> Azul
['Azul', 'Verde', 'Rojo'] --> Verde
['Azul', 'Verde', 'Rojo'] --> Rojo

In [35]:
lista = [
    "Esto es un texto",
    (1, 5, 6, 7, 23),
    ["Azul", "Verde", "Rojo"]
]

for i,coleccion in enumerate(lista):
    for b,elemento in enumerate(coleccion):
        print(i, coleccion, "-->", b, elemento)

0 Esto es un texto --> 0 E
0 Esto es un texto --> 1 s
0 Esto es un texto --> 2 t
0 Esto es un texto --> 3 o
0 Esto es un texto --> 4
0 Esto es un texto --> 5 e
0 Esto es un texto --> 6 s
0 Esto es un texto --> 7
0 Esto es un texto --> 8 u
0 Esto es un texto --> 9 n
0 Esto es un texto --> 10
0 Esto es un texto --> 11 t
0 Esto es un texto --> 12 e
0 Esto es un texto --> 13 x
0 Esto es un texto --> 14 t
0 Esto es un texto --> 15 o
1 (1, 5, 6, 7, 23) --> 0 1
1 (1, 5, 6, 7, 23) --> 1 5
1 (1, 5, 6, 7, 23) --> 2 6
1 (1, 5, 6, 7, 23) --> 3 7
1 (1, 5, 6, 7, 23) --> 4 23
2 ['Azul', 'Verde', 'Rojo'] --> 0 Azul
2 ['Azul', 'Verde', 'Rojo'] --> 1 Verde
2 ['Azul', 'Verde', 'Rojo'] --> 2 Rojo

In [41]:
lista = [
    "Esto es un texto",
    (1, 5, 6, 7, 23),
    ["Azul", "Verde", "Rojo"]
]

for indice_col, coleccion in enumerate(lista):
    for indice_ele, elemento in enumerate(coleccion):
        print(lista[indice_col][indice_ele])

E
s
t
o

e
s

u
n

t
e
x
t
o
1
5
6
7
23
Azul
Verde
Rojo

In [49]:
tabla = [
    [0,0,0],
    [1,1,1],
    [2,2,2]
]

for fila in tabla:
    for columna in fila:
        print(columna, end=" ")
    print()

0 0 0
1 1 1
2 2 2

In [55]:
tabla = [
    [0,0,0],
    [1,1,1],
    [2,2,2]
]

for i, fila in enumerate(tabla):
    for j, columna in enumerate(fila):
        print(tabla[i][j], end=" ")
    print()

0 0 0
1 1 1
2 2 2

In [57]:
cubo = [
    tabla, tabla, tabla
]
for tabla in cubo:
    for fila in tabla:
        for columna in fila:
            print(columna)

0
0
0
1
1
1
2
2
2
0
0
0
1
1
1
2
2
2
0
0
0
1
1
1
2
2
2

In [59]:
cubo = [
    tabla, tabla, tabla
]
for k, tabla in enumerate(cubo):
    for i, fila in enumerate(tabla):
        for j, columna in enumerate(fila):
            print(cubo[k][i][j], end=" ")
        print()
    print()

0 0 0
1 1 1
2 2 2

0 0 0
1 1 1
2 2 2

0 0 0
1 1 1
2 2 2